* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Shared styles for all screen sizes */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

/* Category styling */
.category {
  margin-bottom: 20px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  overflow: hidden; /* Add this to contain the floated elements */
}

.category h2 {
  margin: 0; /* Remove the margin to eliminate the gap */
  padding-bottom: 5px; /* Add some spacing between the heading and inputs */
  font-size: 18px;
  color: #007bff;
}

/* Input field spacing */
.category label {
  margin-top: 10px;
  display: block; /* Add this to create a block layout for labels */
}

/* Fix the overlapping issue with the second input */
.category input {
  width: 100%; /* Add this to make the inputs occupy the full width */
  box-sizing: border-box; /* Add this to include padding and border in the width calculation */
}

input[type="number"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#output {
  margin-top: 30px;
  text-align: center;
}

#output h2 {
  margin-bottom: 10px;
}

#result {
  font-size: 24px;
  font-weight: bold;
}

.unit {
  margin-left: 5px;
  font-size: 14px;
  color: #666;
}

/* Responsive styles for mobile devices */
@media only screen and (max-width: 600px) {
  .container {
    border: none;
    box-shadow: none;
  }

  form {
    margin: 0 auto;
  }

  .category {
    padding: 8px;
    margin-bottom: 15px;
  }

  .category h2 {
    font-size: 16px;
  }

  button {
    margin-top: 15px;
    padding: 8px;
    font-size: 16px;
  }
}
